:root {
  --background: #f6fcd6;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --border: #000000;
  --form-bg: #fff;
  --background2: #c7e3f1;
}

[data-theme='dark'] {
  --background: #000000de ;
  --text-primary: #fff;
  --text-secondary: #8e05c2;
  --border: #ffffff;
  --form-bg: #191919;
  --background2: #061b77;
}


.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 2rem;
  border-radius: 3rem;
  background-color: var(--background);
  border-color: var(--border) ;
}

.top-page{
  display: flex;
  justify-content: space-around;
}

.searchbar{
  width: 80%;
}


